langchain_community
ipykernel
jupyter
PyMuPDF
tqdm
spaCy
nltk
en_core_web_sm
pandas
sentence_transformers
tiktoken 
langchainhub 
chromadb 
langchain
langsmith
bs4
langchain_deepseek
python-dotenv
langchain_core
langchain
langchain_ollama
pypdf
PyMuPDF
langchain_huggingface
ollama